In [1]:
#import libraries
import pandas as pd

In [2]:
binance_raw_dataset = pd.read_csv(r"C:\Users\atien\Downloads\Data Science Class\Capstone_Project\Crypto_Classifier\data\raw\raw_data.csv")
binance_raw_dataset.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,1677974400000,22346.57,22662.09,22189.22,22430.24,154841.75786,1678060799999,3.473011e+09,4835978,77394.35765,1.735989e+09,0
1,1678060800000,22430.24,22602.19,22258.00,22410.00,203751.82957,1678147199999,4.569102e+09,6471278,102110.26304,2.289889e+09,0
2,1678147200000,22409.41,22557.91,21927.00,22197.96,292519.80912,1678233599999,6.517595e+09,7813394,145498.64219,3.242137e+09,0
3,1678233600000,22198.56,22287.00,21580.00,21705.44,301460.57272,1678319999999,6.641172e+09,8018963,150008.02488,3.304860e+09,0
4,1678320000000,21704.37,21834.99,20042.72,20362.22,443658.28584,1678406399999,9.403029e+09,10076702,217900.59621,4.619804e+09,0

In [3]:
binance_raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   int64
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   int64
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: float64(8), int64(4)
memory usage: 93.9 KB

In [14]:
binance_processed_dataset = pd.read_csv(r"C:\Users\atien\Downloads\Data Science Class\Capstone_Project\Crypto_Classifier\data\processed\processed_data.csv", parse_dates=["open_time", "close_time"])
binance_processed_dataset.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,2023-03-05,22346.57,22662.09,22189.22,22430.24,154841.75786,2023-03-05 23:59:59.999,3.473011e+09,4835978,77394.35765,1.735989e+09,0
1,2023-03-06,22430.24,22602.19,22258.00,22410.00,203751.82957,2023-03-06 23:59:59.999,4.569102e+09,6471278,102110.26304,2.289889e+09,0
2,2023-03-07,22409.41,22557.91,21927.00,22197.96,292519.80912,2023-03-07 23:59:59.999,6.517595e+09,7813394,145498.64219,3.242137e+09,0
3,2023-03-08,22198.56,22287.00,21580.00,21705.44,301460.57272,2023-03-08 23:59:59.999,6.641172e+09,8018963,150008.02488,3.304860e+09,0
4,2023-03-09,21704.37,21834.99,20042.72,20362.22,443658.28584,2023-03-09 23:59:59.999,9.403029e+09,10076702,217900.59621,4.619804e+09,0

In [15]:
binance_processed_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   datetime64[ns]
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   datetime64[ns]
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(2)
memory usage: 93.9 KB